# Ignore everything by default
/*

# Allow the gitignore file itself
!.gitignore

# Allow project files at the root
!Garidomakaronada_NN.tex
!Garidomakaronada_NN_Read.pdf
!Makefile

# Allow necessary project support folders
!Garidomakaronada_Template/

# Ignore LaTeX build artifacts at the root
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.vrb
*.fdb_latexmk
*.fls
*.synctex.gz
*.backup
*.backup2
